@font-face {
    font-family: Inter;
    src: url(../Assets/Fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: Inter-Light;
    src: url(../Assets/Fonts/Inter-Light.ttf);
}

.btn-dark{
    background-color: #0A1128 !important;
}

.input-group-text{
    background-color: rgb(30, 30, 30) !important; 
    color: white !important;
}

.rainBackground{
background-image: url(/Assets/rainyDay.jpg);
background-repeat: no-repeat;
background-size: 100%;
background-position: 100%;
width: 100vw;
}

.clearBackground{
background-image: url(/Assets/sunnyDay.jpg);
background-repeat: no-repeat;
background-size: 100%;
background-position: 100%;
width: 100vw;
}

.snowBackground{
background-image: url(/Assets/snow.jpg);
background-repeat: no-repeat;
background-size: 100%;
background-position: 100%;
width: 100vw;
}

.cloudBackground{
background-image: url(/Assets/cloudy.jpg);
background-repeat: no-repeat;
background-size: 100%;
background-position: 100%;
width: 100vw;
}

.down{
    margin-top: 42.2vh;
}

.currentWeather{
    margin-top: 60vh;
    color: white;
    margin-left: 4vw;
    /* -webkit-text-stroke: 0.5px rgb(55, 55, 55); */
}

.currentTemp{
    color: white;
    font-size: 150px;
    margin-left: 4vw;
    font-family: inter;
}

.favBtn{
    position: absolute;
    margin-top: -50px;
    margin-left: 350px;
    height: 40px;
    width: 395px;
    border-radius: 20%;
}

.cityName{
    position: absolute;
    margin-top: -170px;
    margin-left: 350px;
    font-size: 55px;
    color: white;
    font-family: Inter;
}

.currentWeatherCondition{
    position: absolute;
    margin-top: -90px;
    margin-left: 435px;
    color: white;
    font-family: Inter;
}

.currentWeatherIcon{
    position: absolute;
    margin-top: -100px;
    margin-left: 355px;
    width: 70px;
}

.currentTime{
    position: absolute;
    margin-top: -90px;
    margin-left: 640px;
    color: white;
    font-family: Inter;
}

.currentDate{
    position: absolute;
    margin-top: -50px;
    margin-left: 523px;
    color: white;
    font-family: Inter;
}

.whiteBox{
    background-color: rgba(245, 245, 245, 0.507);
}

.blackground{
    color: black;
}

.enterBox{
    height: 50px;
}

.favoriteBox{
    width: 100px;
    height: 50px;
}

.favoriteFont{
    font-size: 23px;
    font-family: Inter;
    margin-left: -2px;
}

.forecast{
    font-family: inter;
    font-size: 36px;
    margin-top: 12.5vh;
    margin-left: 2vw;
}

.forecastDay{
    font-family: inter;
    font-size: 17px;
    margin-top: 3vh;
    margin-left: 2vw;
}

.forecastDay2{
    font-family: inter;
    font-size: 17px;
    margin-top: -4vh;
    margin-left: 9vw;
}
.forecastDay3{
    font-family: inter;
    font-size: 17px;
    margin-top: -4vh;
    margin-left: 16vw;
}
.forecastDay4{
    font-family: inter;
    font-size: 17px;
    margin-top: -4vh;
    margin-left: 24vw;
}
.forecastDay5{
    font-family: inter;
    font-size: 17px;
    margin-top: -4vh;
    margin-left: 32vw;
}

.forecastWeatherIcon{
    width: 60px;
    margin-left: 2vw;
    margin-top: -1vh;
}
.forecastWeatherIcon2{
    width: 60px;
    margin-left: 3.2vw;
    margin-top: -1vh;
}

.forecastTemp1{
    font-family: inter-light;
    font-size: 14px;
    margin-left: 1.5vw;
    margin-top: 0.25vh;
}
.forecastTemp2{
    font-family: inter-light;
    font-size: 14px;
    margin-left: 9vw;
    margin-top: -3.5vh;
}
.forecastTemp3{
    font-family: inter-light;
    font-size: 14px;
    margin-left: 16.5vw;
    margin-top: -3.5vh;
}
.forecastTemp4{
    font-family: inter-light;
    font-size: 14px;
    margin-left: 24vw;
    margin-top: -3.5vh;
}
.forecastTemp5{
    font-family: inter-light;
    font-size: 14px;
    margin-left: 31.5vw;
    margin-top: -3.5vh;
}

.todaysForecast{
    margin-top: 4vh;
    margin-left: 2vw;
    font-family: inter;
    font-size: 36px;
}